<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- HikariCP DEBUG 로그 설정 -->
    <logger name="com.zaxxer.hikari" level="DEBUG" />

    <!-- 전체 root 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
